In [73]:
# Importing required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statistics as st

### Exercise 1

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.


File : Cutlets.csv

In [31]:
cutlets = pd.read_csv("Cutlets.csv")
cutlets.head(10)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522
5  7.3871  6.8110
6  6.8755  7.2212
7  7.0621  6.6606
8  6.6840  7.2402
9  6.8236  7.0503

#### Step 1: Formulate Statements

Ho : There is no significant difference (µ1 = µ2)     
Ha : There is significant difference (µ1 ≠ µ2)

#### Step 2: Choose the Statistic - Z or t

Here std is unknown, so choosing t-statistic

#### Step 3: Fix the α value

Here Significance = 5%, so α = 0.05

#### Step 4: Calculate the p-value from statistic

In [32]:
stats.ttest_ind(cutlets["Unit A"],cutlets["Unit B"])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

#### Step 5: Compare p-value with α value

In [34]:
pvalue = 0.4722394724599501
alpha = 0.05

if(pvalue <= alpha):
    print("It is safe to reject null hypothesis.")
else:
    print("It is not safe to reject null hypothesis")

It is not safe to reject null hypothesis

#### Conclusion:

We will go with Ho, which means there is no significant difference between Unit A & Unit B (µ1 = µ2)

### Exercise 2

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
 

File: LabTAT.csv

In [36]:
lab = pd.read_csv("LabTAT.csv")
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [39]:
lab1 = lab.iloc[:,0]
lab2 = lab.iloc[:,1]
lab3 = lab.iloc[:,2]
lab4 = lab.iloc[:,3]

#### Formulating Statements

Ho: µ1 = µ2 = µ3 = µ4    
Ha: Atleast one of them is different

α = 0.05

In [46]:
alpha = 0.05
statistic, pvalue = stats.f_oneway(lab1,lab2,lab3,lab4)

if(pvalue <= alpha):
    print("It is safe to reject null hypothesis.")
else:
    print("It is not safe to reject null hypothesis")

It is safe to reject null hypothesis.

#### Conclusion

There is a sigificane difference between TAT of four laboratories

### Exercise 3

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

<img src="Q3.png" alt="alt text" width="500" height="300">

In [47]:
sales = pd.read_csv("BuyerRatio.csv")
sales

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [56]:
# Applying Chi-Square contingency table

table = [[50,142,131,70],
         [435,1523,1356,750]]

#### Formulating Statements

Ho: There is no dependency between Male-Female buyer ratios   
Ha: There is a dependency between Male-Female buyer ratios

In [53]:
from scipy.stats import chi2_contingency

stat, pvalue, dof, expected = chi2_contingency(table)

In [54]:
pvalue

0.6603094907091882

In [55]:
alpha = 0.05

if(pvalue <= alpha):
    print("It is safe to reject null hypothesis.")
else:
    print("It is not safe to reject null hypothesis")

It is not safe to reject null hypothesis

#### Conclusion:

We will go with Ho. Male-Female buyer ratios are independent and are similar across regions.

### Exercise 4

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

File: Customer+OrderForm.csv

In [57]:
custorder = pd.read_csv("Costomer+OrderForm.csv")
custorder

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

#### Formulating Statements

Ho: µ1 = µ2 = µ3 = µ4    
Ha: Atleast one of them is different

In [63]:
custorder.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [64]:
custorder.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [65]:
custorder.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [66]:
custorder.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [68]:
# Contingency table

ctab = np.array([[271,267,269,280],[29,33,31,20]])
ctab

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [69]:
stat, pvalue, dof, expected = chi2_contingency(ctab)

In [71]:
pvalue

0.2771020991233135

In [72]:
alpha = 0.05

if(pvalue <= alpha):
    print("It is safe to reject null hypothesis.")
else:
    print("It is not safe to reject null hypothesis")

It is not safe to reject null hypothesis

#### Conclusion

We will go with Ho. Defective percentage is same across all countries.